[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
    branch = master
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "z"]
	path = z
	url = https://github.com/rupa/z.git
